.main-container {
    font-family: "Inter", sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.95);
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}



.form-content {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

select, input, textarea {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

input[type="file"] {
    margin-bottom: 20px;
    border: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #039855;
    border-color: #039855;
}

.checkbox-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 10px;
    height: 25px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkboxLabel {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.donate-button {
    padding: 15px;
    background-color: #039855;
    color: white;
    border: none;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
    margin: 40px auto 0;
    display: block;
    font-family: "Inter", sans-serif;
    font-size: medium;
    font-weight: 600;
}

.donate-button:hover {
    background-color: #028a4b;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }

    select, input, textarea {
        width: 100%;
    }

    .donate-button {
        width: 100%;
    }
}
