/* DonationFeed.css */

.main-container {
    font-family: "Inter", sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 40px;
    min-height: 100vh; 
}

.donation-feed-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px; 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px; 
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donation-card {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #e0e0e0; 
    border-radius: 15px; 
    margin-bottom: 25px; 
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.donation-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.donation-card .status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.donation-image {
    width: 200px;
    height: auto;
    object-fit: cover;
    
}

.donation-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.donation-info h3 {
    margin: 0;
    color: #039855; 
    font-weight: 700;
}

.donation-info p {
    margin: 5px 0;
    color: #333;
}

.request-button {
    padding: 10px;
    background-color: #039855; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start;
    transition: background-color 0.3s, transform 0.3s; /* Add transition for hover effect */
}

.request-button:hover {
    background-color: #039855; /* Lighter green on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

@media (max-width: 768px) {
    .donation-card {
        flex-direction: column;
        margin-bottom: 20px; 
    }

    .donation-image {
        width: 100%;
        height: auto;
    }

    .donation-info {
        padding: 15px; 
    }
}
