.footer {
    padding: 30px 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    font-family: "Inter", sans-serif; 
  }
  
  .footer .contact-info {
    display: flex;
    
    align-items: center; 
    gap: 20px;
    font-size: 20px; 
    color: #555; 
  }
  
  .footer .contact-info a {
    text-decoration: none;
    color: #039855;
    font-weight: 600; 
  }
  
  .footer .contact-info a:hover {
    text-decoration: underline; /* Add underline on hover for links */
  }
  