.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 10px;
  }
  
  .logo-container {
    display: flex;
    align-items: center; 
  }
  
  .logo {
    width: 80px; 
    height: auto;
    margin-right: 5px; 
    
}

  .logo-text {
    display: flex;
    flex-direction: column;
    color:#039855 ;
    size: 50px;
    font-family: "Inter", sans-serif;
    font-style:normal;
    font-size:xx-large;

  }
  
  .slogan {
    font-size: 15px;
    color:#039855;
    margin-top: 1px; /* Adjust spacing between MealMission and slogan */
    
}

  
  
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .header nav ul li a {
    text-decoration: none;
    color:#039855;
    font-family: "Inter", sans-serif;
    font-size: medium;
  }
  