/* Login Page Styles */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin-top: -170px;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
 
}

.login {
  width: 70%; 
  max-width: 700px; 
  padding: 10px; 
  background: rgba(255, 255, 255, 0.95); 
  border-radius: 12px; 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  text-align: center;
}

.login h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 2.5rem; 
  color: #039855; 
}
.login label {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
  width: 100%;
  max-width: 530px;
  
  text-align: left;
  /*  display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: #333;*/
}

.welcome {
  color: black;
}

.back {
  color: #039855;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  padding: 15px; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1rem; 
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px; 
  transition: border-color 0.3s; 
}

.login input:focus {
  border-color: #039855; 
  outline: none; 
}

.password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgot-password {
  font-size: 0.875rem; 
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #039855;
  text-align: right;
  width: 100%; 
  max-width: 500px;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login button {
  padding: 15px 30px;
  background-color: #039855;
  color: white;
  border: none;
  width: 60%;
  max-width: 200px; 
  border-radius: 25px; 
  cursor: pointer;
  margin-top: 20px; 
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s; 
}

.login button:hover {
  background-color: #028a4e;
  transform: translateY(-2px); /* Slight lift on hover */
}

.login p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;
}

.login p a {
  color: #039855;
  text-decoration: none;
}

.login p a:hover {
  text-decoration: underline;
}


