body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.text-content {
    display: flex;
    text-align: center;
    flex-direction: column; 
    align-items: center; 
    flex: 1; 
}

.text-content h2 {
    white-space: nowrap; 
    font-size: 24px; 
}
.image-and-text {
    display: flex;
    align-items: center; 
}
.container {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto; 
}

.password-img {
    height: 400px; 
    width: 400px;
    margin-right: 50px; 
    margin-left:0px;
    
}

.reset-box {
    margin-left: 0px; 
    display: flex;
    align-items: center;
    max-width: 100%; 
}
#reset-button{
    padding: 15px 30px; 
    background-color: #039855; 
    color: white;
    border: none;
    border-radius: 45.5px;
    cursor: pointer;
    font-size: 14px; 
    margin-top: 20px; 
}
.input {
    width: 100%;
    padding: 15px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.subtext {
    font-size: 14px; 
    color: grey; 
}
.back-to-signin{
    font-size: 14px; 
    color: #039855;
    cursor: pointer; 
    text-align: center; 
}