.sign-up-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

.sign-up {
  width: 750px; /* Further increased width for a more rectangular shape */
  padding: 100px; 
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 10px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  margin: 70px auto; 
}

.sign-up h2 {
  text-align: center;
  
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 5px;
  font-size: 50px;
  
  }
  .Create{
    color: black;
  }
  .Account{
    color: #039855;
  }

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up input {
  padding: 20px; 
  margin-bottom: 20px; 
  border: 1px solid grey;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 60%; }

.sign-up button {
  padding: 15px; 
  background-color: #039855;
  color: white;
  border: none;
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
  margin: 40px auto 0; 
  display: block;
  font-family: "Inter", sans-serif;
  font-size: medium;
  font-weight: 600;
}

.sign-up button:hover {
  background-color: #039855;
}

.sign-up p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: medium;
  font-weight: 700;
}

.sign-up p a {
  color: #039855;
  text-decoration: none;
}

.sign-up p a:hover {
  text-decoration: underline;
}
