.sign-up-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("background.jpg");
  
  background-size: cover;
  background-position: center;
}

.sign-up {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  
  
}

.sign-up h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: medium;
  
}

.sign-up form {
  display: flex;
  flex-direction: column;
}

.sign-up label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 32;
  margin-bottom: 10px;
  font-weight:400;
  display: block;
}

.sign-up input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}

.sign-up button {
  padding: 10px;
  background-color:#039855;
  color: white;
  border: none;
  width:200px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.sign-up button:hover {
  background-color: #218838;
}

.sign-up p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size:medium;

}

.sign-up p a {
  color: #218838;
  text-decoration: none;
}

.sign-up p a:hover {
  text-decoration: underline;
}
